/*------------------------------------------------------------
[Table of Contents]
1. Body
2. Nav Bar
3. About
4. Home
5. Signup
6. Footer
7. Demo
8. Model Training

------------------------------------------------------------*/

/*------------------------------------------------------------
1. Body
------------------------------------------------------------*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    font-size: 16px;
  }
  main {
    flex: 1 0 auto;
  }
  
  /*------------------------------------------------------------
  2. Nav Bar
  ------------------------------------------------------------*/
  
  /*------------------------------------------------------------
  3. About
  ------------------------------------------------------------*/

  /*------------------------------------------------------------
  4. Home
  ------------------------------------------------------------*/
  
  /*------------------------------------------------------------
  5. Signup
  ------------------------------------------------------------*/

  /*------------------------------------------------------------
  6. Footer
  ------------------------------------------------------------*/